@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    color:$text-color1;
}
input,button{
    text-decoration: none;
    border:none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.container{
    width:80%;
    max-width: 800px;
    margin-top:3rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
        width:70px;
        margin-bottom: 3rem;
    }
    .header{
        h2{
            text-align: center;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        b,p{
            color:$text-color2;
        }
        p{
            text-align: center;
            font-size: 16px;
            margin-bottom: 1.5rem;
        }
    }
    form{ 
        width:70%;     
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width:768px){
            flex-direction: row;
            justify-content: space-between;
        }
        .form-control{
            position:relative;
            width:100%;
            @media (min-width:768px){
                width:70%;
            }
            input{
                width:100%;
                padding:.8rem 2rem;
                border-radius: 2rem;
                border:1px solid $border-color;
                font-size: 14px;
                &::placeholder{
                    color:$text-color1;
                    opacity: 0.4;
                }
            }
            
            small{
                position:absolute;
                top:46px;
                left:0px;
                color:$error;
                width:100%;
                text-align: center;
                padding-top:4px;
                visibility: hidden;
                @media (min-width:768px){
                    text-align: left;
                    left:30px;
                }
            }
        }
        .form-control.error {
            input{
                border-color: $error;
                margin-bottom: 1rem;
                @media (min-width:768px){
                    margin-bottom: 0;
                }
            }
            small{
                visibility: visible;
                font-size: 10px;
            }

        }
        button{
            cursor: pointer;
            margin-top: 1rem;
            width:100%;
            padding:.8rem 0;
            border-radius: 2rem;
            background-color: $button-color;
            color:white;
            font-size: 14px;
            box-shadow: 6px 8px 10px rgba(170, 170, 170,0.5);
            @media (min-width:768px){
                @media (min-width:768px){
                    width:30%;
                    margin-left: 1rem;
                    margin-top: 0;
                }
            }
        }
    }
    img{
        width:80%;
        max-width:700px;
        margin: 3rem 0 3rem;
    }
}
footer{
    margin-bottom: 1rem;
    font-size: 14px;
    .social{
        display:flex;
        justify-content: center;
        align-items: center;
        .social-link{
            padding:.5rem .5rem .3rem;
            border-radius: 50%;
            border:1px solid hsla(0, 0%, 59%,0.4);
            color:$button-color;
            margin:0 .5rem 1rem;
            font-size: 18px;
            &:hover{
                color:white;
                background-color: $button-color;
            }
        }
        
    }
}

